################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HostsBlocker/bin/Debug
/HostsBlocker/obj/Debug
/HostsBlocker.sln.DotSettings.user
/.vs/HostsBlocker/v14/.suo
/HostsBlocker.sln.DotSettings
