################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HostsBlocker/bin
/HostsBlocker/obj
/HostsBlocker.sln.DotSettings.user
/.vs/HostsBlocker/v14/.suo
